@import '../../variables.module';

// Left nav bar
.nav-bar {
  width: 240px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  background-color: $primary-color-dark;

  // Shadow
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

// Logo container
.logo {
  width: 100%;
  text-align: center;
}

// Logo image
#democrm-logo {
  width: 220px;
  height: 112px;
  margin-top: 18px;
  object-fit: cover;
  object-position: center;
}

// Nav menu
#main-menu {
  background-color: $primary-color-dark;
  margin-top: 18px;
}

// Nav menu items
#main-menu .ant-menu-item {
  width: 100%;
}

// Nav menu item text
#main-menu .ant-menu-item .nav-text {
  font-size: 16px;
  letter-spacing: 0.06em;
}
